<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../iron-icons/iron-icons.html">
<link rel="import" href="../paper-checkbox/paper-checkbox.html">
<link rel="import" href="../paper-header-panel/paper-header-panel.html">
<link rel="import" href="../paper-input/paper-input.html">
<link rel="import" href="../paper-item/paper-item.html">
<link rel="import" href="../paper-spinner/paper-spinner.html">
<link rel="import" href="../paper-toolbar/paper-toolbar.html">
<link rel="import" href="../campus-behavior/campus-behavior.html">
<!--
`campus-core-teacher-list`
@demo demo/campus-core-teacher-list.html
-->
<dom-module id="campus-core-teacher-list">
    <style include="iron-flex iron-flex-alignment iron-flex-factors iron-positioning"></style>
    <style>
        :host {
            display: block;
            position: relative;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            height: 100%;
        }
        
        :host paper-toolbar paper-input {
            --paper-input-container-color: #eee;
            --paper-input-container-focus-color: #fff;
            --paper-input-container-input-color: #fff;
        }
        
        :host paper-item {
            color: var(--secondary-text-color);
        }
        
        :host paper-item:hover {
            background-color: rgba(0, 0, 0, .037);
            cursor: pointer;
        }
        
        :host .ellipsis-text {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        
        :host .error-text-color {
            color: var(--error-color);
        }
        
        :host .paper-header {
            height: 56px;
            padding: 0 16px;
        }
        
        :host .paper-footer {
            height: 56px;
            padding: 0 0 0 16px;
            border-top: 1px solid #ddd;
            margin-top: 8px;
        }
        
        :host .paper-header paper-checkbox {
            --paper-checkbox-unchecked-color: var(--secondary-text-color);
            --paper-checkbox-unchecked-ink-color: var(--secondary-text-color);
            --paper-checkbox-label-color: var(--secondary-text-color);
        }
    </style>
    <template>
        <div class="fit layout vertical center-center" hidden$="[[!loadding]]">
            <paper-spinner active="[[loadding]]"></paper-spinner>
        </div>
        <div class="fit layout vertical">
            <paper-header-panel mode="waterfall">
                <paper-toolbar>
                    <paper-input class="flex-auto" no-label-float label="[[translate._01]]" value="{{filterString::input}}">
                        <iron-icon icon="icons:icons:search" style="margin-right:4px" prefix></iron-icon>
                    </paper-input>
                </paper-toolbar>
                <div>
                    <div class="paper-header layout horizontal center" hidden$="[[!toggleDeleted]]">
                        <paper-checkbox id="toggleView" on-change="_toggleView">[[translate._02]]</paper-checkbox>
                    </div>
                    <template is="dom-repeat" items="[[items]]" filter="{{_filter(filterString)}}">
                        <paper-item on-tap="_selectItem" hidden$="[[!item.isView]]">
                            <paper-checkbox class="red" checked$="[[item.checked]]" hidden$="[[!multiSelected]]"></paper-checkbox>
                            <div class="ellipsis-text flex-auto">[[item.TeacherName]]</div>
                            <div>[[item.Nickname]]</div>
                        </paper-item>
                    </template>
                </div>
            </paper-header-panel>
            <div class="paper-footer layout horizontal center" hidden$="[[!multiSelected]]">
                <paper-checkbox id="checkAll" on-change="_checkedAll">[[translate._03]]</paper-checkbox>
                <div class="flex"></div>
                <paper-button on-tap="_selectChecked">[[translate._04]]</paper-button>
            </div>
        </div>
    </template>
    <script>
        Polymer({
            is: "campus-core-teacher-list",

            properties: {
                toggleDeleted: {
                    type: Boolean,
                    value: false
                },
                multiSelected: {
                    type: Boolean,
                    value: false
                }
            },

            behaviors: [Campus.TranslateBehavior, Campus.ServiceBehavior],

            ready: function() {
                this.initTranslate({
                    'default': 'zh-tw',
                    'zh-tw': {
                        '_01': '姓名, 暱稱, 性別, 帳號',
                        '_02': '顯示已刪除',
                        '_03': '全部選取',
                        '_04': '確定'
                    },
                    'zh-cn': {
                        '_01': '姓名, 昵称, 性别, 帐号',
                        '_02': '显示已删除',
                        '_03': '全部选取',
                        '_04': '确定'
                    },
                    'en-us': {
                        '_01': 'Name, Nickname, Gender',
                        '_02': 'Deleted',
                        '_03': 'Select all',
                        '_04': 'OK'
                    },
                    'vi-vn': {
                        '_01': 'Họ tên, biệt hiệu, giới tính, tài khoản',
                        '_02': 'Deleted',
                        '_03': 'Select all',
                        '_04': 'OK'
                    }
                });

                this._getItems();
            },

            /*
             * 重新整理清單
             */
            reload: function() {
                this._getItems();
            },

            _getItems: function() {
                this.set('loadding', true);
                this.set('filterString', null);
                this.set('items', []);

                this.$.checkAll.checked = false;

                var request = {
                    contract: 'schoolaccess',
                    service: 'SmartSchool.Teacher.GetDetailList',
                    body: ['<Request><Field><ID/><Status/><TeacherName/><Nickname/><Gender/><TALoginName/></Field><Order><TeacherName/></Order></Request>'].join('')
                };

                this.generateRequest(request, function(response) {
                    if (response && response.TeacherList) {
                        var items = [].concat(response.TeacherList.Teacher || []);
                        items.sort(function(x, y) {
                            return x.TeacherName.localeCompare(y.TeacherName);
                        });
                        items.forEach(function(item, idx) {
                            item.isView = item.Status !== '刪除';
                            item.isDeleted = item.Status === '刪除';
                            item.idx = idx;
                            item.checked = false;
                        });
                        this.set('items', items);
                    } else
                        this.set('items', []);

                    this.set('loadding', false);
                }.bind(this));
            },

            _selectItem: function(e) {
                if (!this.multiSelected) {
                    this.fire('changed', {
                        id: e.model.item.$.ID,
                        label: e.model.item.TeacherName,
                        target: e.model.item
                    });
                } else {
                    this.set(['items.', e.model.item.idx, '.checked'].join(''), !this.items[e.model.item.idx].checked);
                }
            },

            _selectChecked: function(e) {
                var items = [];
                this.items.forEach(function(item) {
                    if (item.checked && item.isView) {
                        items.push({
                            id: item.$.ID,
                            label: item.TeacherName,
                            target: item
                        });
                    }
                });

                this.fire('selected', items);
            },

            _filter: function(value) {
                if (!value)
                    return null;
                else {
                    value = value.toLowerCase();
                    return function(item) {
                        return (item.TeacherName.toLowerCase().indexOf(value) !== -1 ||
                            item.Nickname.toLowerCase().indexOf(value) !== -1 ||
                            item.Gender.toLowerCase().indexOf(value) !== -1 ||
                            item.TALoginName.toLowerCase().indexOf(value) !== -1);
                    };
                }
            },

            _toggleView: function(e) {
                this.items.forEach(function(item, index) {
                    this.set(['items.', index, '.isView'].join(''), !this.items[index].isView);
                }.bind(this));
            },

            _checkedAll: function(e) {
                this.items.forEach(function(item, index) {
                    this.set(['items.', index, '.checked'].join(''), e.target.checked);
                }.bind(this));
            }
        });

        /*
         * 每當清單中的選項被選取時，將觸發此事件
         * @event changed
         */

        /*
         * multiSelected = true 選取多筆資料後，將觸發此事件
         * @event selected
         */
    </script>
</dom-module>
