<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../iron-icons/iron-icons.html">
<link rel="import" href="../paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../paper-icon-button/paper-icon-button.html">
<link rel="import" href="../paper-input/paper-input.html">
<link rel="import" href="../paper-item/paper-item.html">
<link rel="import" href="../paper-material/paper-material.html">
<link rel="import" href="../paper-menu/paper-menu.html">
<link rel="import" href="../paper-toast/paper-toast.html">
<link rel="import" href="../campus-behavior/campus-behavior.html">
<!--
`campus-core-teacher-editor`
@demo demo/campus-core-teacher-editor.html
-->
<dom-module id="campus-core-teacher-editor">
    <style include="iron-flex iron-flex-alignment iron-flex-factors"></style>
    <style>
        :host {
            display: block;
            position: relative;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
        }
        
        :host .dark-primary-text-color {
            color: var(--dark-primary-color);
        }
        
        :host .secondary-text-color {
            color: var(--secondary-text-color);
        }
        
        :host .tbar {
            padding: 4px 12px 4px 16px;
            line-height: 24px;
        }
        
        :host .tpib {
            width: 32px;
            height: 32px;
            padding: 4px;
        }
        
        :host .photo-item {
            margin: 8px;
            cursor: pointer;
            position: relative;
        }
        
        :host .cell-container {
            padding: 16px 8px;
        }
        
        :host .cell-item {
            padding: 0 8px;
            flex: 1 1 220px;
        }
    </style>
    <template>
        <div class="layout horizontal center wrap secondary-text-color tbar">
            <div class="flex-auto" style="font-size:18px">[[translate._01]]</div>
            <paper-icon-button class="tpib" icon="icons:done" on-tap="_saveInfo"></paper-icon-button>
            <div class="layout horizontal center" hidden$="[[teacher.isAddNew]]">
                <paper-icon-button class="tpib" icon="icons:refresh" on-tap="_refreshInfo"></paper-icon-button>
                <paper-icon-button class="tpib" icon="icons:restore" on-tap="_restoreInfo" hidden$="[[!teacher.isRestore]]"></paper-icon-button>
                <paper-icon-button class="tpib" icon="icons:delete" on-tap="_deleteInfo" hidden$="[[!teacher.isUpdate]]"></paper-icon-button>
            </div>
        </div>
        <paper-material style="background:#fff">
            <div class="layout horizontal wrap cell-container">
                <div class="layout horizontal cell-item">
                    <div class="photo-item">
                        <paper-material elevation="1" style="display:flex" on-tap="_loadPhoto">
                            <img src$="[[teacher.Photo]]" style="width:140px;height:180px" hidden$="[[!hasPhoto]]" />
                            <div class="layout horizontal center-center" style="width:140px;height:180px" hidden$="[[hasPhoto]]">
                                <iron-icon icon="icons:find-in-page" class="dark-primary-text-color" style="width:100px;height:100px"></iron-icon>
                                <input type="file" id="input_photo" accept="image/*" hidden />
                            </div>
                        </paper-material>
                        <div class="layout horizontal end-justified secondary-text-color" style="position:absolute;top:0;right:0" hidden$="[[!hasPhoto]]">
                            <paper-icon-button icon="icons:clear" on-tap="_removePhoto"></paper-icon-button>
                        </div>
                    </div>
                </div>
                <div class="layout vertical cell-item">
                    <div class="layout horizontal">
                        <paper-input class="flex" label="[[translate._02]]" value="{{teacher.TeacherName}}"></paper-input>
                        <div style="width:20px"></div>
                        <paper-dropdown-menu label="[[translate._04]]" style="width:70px">
                            <paper-menu class="dropdown-content" selected="{{teacher.BitGender}}" attr-for-selected="value">
                                <paper-item value="1">[[translate._05]]</paper-item>
                                <paper-item value="0">[[translate._06]]</paper-item>
                            </paper-menu>
                        </paper-dropdown-menu>
                    </div>
                    <div class="layout horizontal">
                        <paper-input class="flex" label="[[translate._03]]" value="{{teacher.Nickname}}"></paper-input>
                    </div>
                    <div class="layout horizontal">
                        <paper-input class="flex" label="[[translate._07]]" value="{{teacher.ContactPhone}}"></paper-input>
                    </div>
                    <div class="layout horizontal">
                        <paper-input class="flex" label="[[translate._08]]" value="{{teacher.Email}}"></paper-input>
                    </div>
                    <div class="layout horizontal">
                        <paper-input class="flex" label="[[translate._09]]" value="{{teacher.TALoginName}}"></paper-input>
                    </div>
                    <div class="layout horizontal center" hidden$="[[!teacher.isUpdate]]">
                        <paper-input class="flex" label="[[translate._10]]" value="{{teacher.TeacherCode}}" readonly></paper-input>
                        <div style="width:10px"></div>
                        <paper-icon-button class="secondary-text-color" icon="icons:cached" on-tap="_refreshTeacherCode"></paper-icon-button>
                        <paper-icon-button class="secondary-text-color" icon="icons:delete" on-tap="_removeTeacherCode"></paper-icon-button>
                    </div>
                </div>
                <div class="layout vertical cell-item"></div>
                <div class="layout vertical cell-item"></div>
            </div>
        </paper-material>
        <paper-toast id="toast"></paper-toast>
    </template>
    <script>
        Polymer({
            is: "campus-core-teacher-editor",

            properties: {
                /*
                 * 編輯的教師
                 */
                teacher: {
                    type: Object,
                    observer: '_teacherChanged'
                }
            },

            behaviors: [Campus.TranslateBehavior, Campus.ServiceBehavior],

            ready: function() {
                this.initTranslate({
                    'default': 'zh-tw',
                    'zh-tw': {
                        '_01': '基本資料',
                        '_02': '姓名',
                        '_03': '暱稱',
                        '_04': '性別',
                        '_05': '男',
                        '_06': '女',
                        '_07': '聯絡電話',
                        '_08': '電子郵件',
                        '_09': '帳號',
                        '_10': '教師代碼',
                        '_12': '更新完成!',
                        '_13': '更新失敗! 請確認資料是否正確!'
                    },
                    'zh-cn': {
                        '_01': '基本资料',
                        '_02': '姓名',
                        '_03': '昵称',
                        '_04': '性别',
                        '_05': '男',
                        '_06': '女',
                        '_07': '联络电话',
                        '_08': '电子邮件',
                        '_09': '帐号',
                        '_10': '教师代码',
                        '_12': '更新完成!',
                        '_13': '更新失败! 请确认资料是否正确!'
                    },
                    'en-us': {
                        '_01': 'Info',
                        '_02': 'Name',
                        '_03': 'Nickname',
                        '_04': 'Gender',
                        '_05': 'Male',
                        '_06': 'Female',
                        '_07': 'Contact Phone',
                        '_08': 'Email',
                        '_09': 'Login Account',
                        '_10': 'Teacher Code',
                        '_12': 'Update completed!',
                        '_13': 'Update failed!'
                    },
                    'vi-vn': {
                        '_01': 'Dữ liệu cơ bản',
                        '_02': 'Họ tên',
                        '_03': 'Biệt danh',
                        '_04': 'Giới tính',
                        '_05': 'Nam',
                        '_06': 'Nữ',
                        '_07': 'Điện thoại liên lạc',
                        '_08': 'Thư điện tử',
                        '_09': 'Tài khoản',
                        '_10': 'Teacher Code',
                        '_12': 'Cập nhật hoàn thành!',
                        '_13': 'Cập nhật thất bại, xin xác nhận lại chính xác dữ liệu!'
                    }
                });
            },

            attached: function() {
                this._initPhotoEvent();
            },

            addNew: function() {
                this.set('hasPhoto', false);
                this.set('teacher', {
                    action: 'Insert',
                    isAddNew: true
                });
            },

            _teacherChanged: function(newValue, oldValue) {
                if (!newValue || !newValue.id) return;

                this.set('hasPhoto', false);

                this._getInfo();
                this._getCodeInfo();
            },

            _getInfo: function() {
                var request = {
                    contract: 'schoolaccess',
                    service: 'SmartSchool.Teacher.GetDetailList',
                    body: ['<Request><Field><ID/><Status/><TeacherName/><Nickname/><Gender/><ContactPhone/><Email/><Photo/><TALoginName/></Field><Condition><ID>', this.teacher.id,
                        '</ID></Condition><Order><TeacherName/></Order></Request>'
                    ].join('')
                };

                this.generateRequest(request, function(response) {
                    if (response && response.TeacherList) {
                        var male = ['Male', 'male', 'm', true, 'true', 'True', 't', '男', '男'];
                        var item = [].concat(response.TeacherList.Teacher || [])[0];

                        this.set('teacher.TeacherName', item.TeacherName);
                        this.set('teacher.Nickname', item.Nickname);
                        this.set('teacher.Email', item.Email);
                        this.set('teacher.Photo', ['data:image/png;base64,', item.Photo].join(''));
                        this.set('teacher.ContactPhone', item.ContactPhone);
                        this.set('teacher.TALoginName', item.TALoginName);
                        this.set('teacher.Gender', item.Gender);
                        this.set('teacher.BitGender', male.indexOf(item.Gender) !== -1 ? '1' : '0');
                        this.set('teacher.isRestore', item.Status === '刪除');
                        this.set('teacher.isUpdate', item.Status === '刪除' ? false : true);

                        this.set('hasPhoto', item.Photo ? true : false);
                    }
                }.bind(this));
            },

            _getCodeInfo: function() {
                var request = {
                    contract: 'basic.staff',
                    service: 'beta.GetTeacher',
                    body: {
                        TeacherId: this.teacher.id,
                    }
                };

                this.generateRequest(request, function(response) {
                    if (response && response.Teacher) {
                        var items = [].concat(response.Teacher || []);
                        if (items.length > 0)
                            this.set('teacher.TeacherCode', items[0].TeacherCode.toUpperCase());
                    }
                }.bind(this));
            },

            _saveInfo: function() {
                var request = {};

                if (this.teacher.action === 'Insert') {
                    request = {
                        contract: 'schoolaccess',
                        service: 'SmartSchool.Teacher.Insert',
                        body: {
                            Request: {
                                Teacher: {
                                    Field: {
                                        TeacherName: this.teacher.TeacherName,
                                        Nickname: this.teacher.Nickname,
                                        Gender: this.teacher.BitGender === '0' ? '女' : '男',
                                        ContactPhone: this.teacher.ContactPhone,
                                        Photo: this.teacher.Photo ? this.teacher.Photo.split('base64,')[1] : '',
                                        Email: this.teacher.Email,
                                        TALoginName: this.teacher.TALoginName
                                    }
                                }
                            }
                        }
                    };
                } else {
                    request = {
                        contract: 'schoolaccess',
                        service: 'SmartSchool.Teacher.Update',
                        body: {
                            Request: {
                                Teacher: {
                                    Field: {
                                        TeacherName: this.teacher.TeacherName,
                                        Nickname: this.teacher.Nickname,
                                        Gender: this.teacher.BitGender === '0' ? '女' : '男',
                                        ContactPhone: this.teacher.ContactPhone,
                                        Photo: this.teacher.Photo ? this.teacher.Photo.split('base64,')[1] : '',
                                        Email: this.teacher.Email,
                                        TALoginName: this.teacher.TALoginName
                                    },
                                    Condition: {
                                        ID: this.teacher.id
                                    }
                                }
                            }
                        }
                    };
                }

                this.generateRequest(request, function(response) {
                    if (response && response.Result && Math.ceil(response.Result.$.EffectRows) > 0) {
                        this.$.toast.show({
                            text: this.translate._12,
                            duration: 1000
                        });

                        setTimeout(function() {
                            if (this.teacher.action === 'Insert')
                                this.fire('changed', {
                                    type: 'Insert'
                                });
                            else
                                this.fire('changed', {
                                    id: this.teacher.id,
                                    label: this.teacher.label,
                                    target: this.teacher,
                                    type: 'Update'
                                });
                        }.bind(this), 1000);

                        this._saveCodeInfo();
                    } else {
                        this.$.toast.show({
                            text: this.translate._13,
                            duration: 1000
                        });
                    }
                }.bind(this));
            },

            _saveCodeInfo: function() {
                if (!this.teacher.id) return;

                var request = {
                    contract: 'basic.staff',
                    service: 'beta.UpdateTeacher',
                    body: {
                        Teacher: {
                            TeacherId: this.teacher.id,
                            TeacherCode: this.teacher.TeacherCode,
                        }
                    }
                };

                this.generateRequest(request);
            },

            _deleteInfo: function() {
                var request = {
                    contract: 'schoolaccess',
                    service: 'SmartSchool.Teacher.Delete',
                    body: ['<Request><Teacher><Condition><ID>', this.teacher.id, '</ID></Condition></Teacher></Request>'].join('')
                };

                this.generateRequest(request, function(response) {
                    if (response && response.Result && Math.ceil(response.Result.$.EffectRows) > 0) {
                        this.$.toast.show({
                            text: this.translate._12,
                            duration: 1000
                        });

                        this.set('teacher.isRestore', true);
                        this.set('teacher.isUpdate', false);

                        setTimeout(function() {
                            this.fire('changed', {
                                id: this.teacher.id,
                                label: this.teacher.label,
                                target: this.teacher,
                                type: 'Delete'
                            });
                        }.bind(this), 1000);
                    } else {
                        this.$.toast.show({
                            text: this.translate._13,
                            duration: 1000
                        });
                    }
                }.bind(this));
            },

            _restoreInfo: function() {
                var request = {
                    contract: 'schoolaccess',
                    service: 'SmartSchool.Teacher.Update',
                    body: ['<Request><Teacher><Field><Status>一般</Status></Field><Condition><ID>', this.teacher.id, '</ID></Condition></Teacher></Request>'].join('')
                };

                this.generateRequest(request, function(response) {
                    if (response && response.Result && Math.ceil(response.Result.$.EffectRows) > 0) {
                        this.$.toast.show({
                            text: this.translate._12,
                            duration: 1000
                        });

                        this.set('teacher.isRestore', false);
                        this.set('teacher.isUpdate', true);

                        setTimeout(function() {
                            this.fire('changed', {
                                id: this.teacher.id,
                                label: this.teacher.label,
                                target: this.teacher,
                                type: 'Restore'
                            });
                        }.bind(this), 1000);
                    }
                }.bind(this));
            },

            _refreshInfo: function() {
                this._getInfo();
                this._getCodeInfo();
            },

            _refreshTeacherCode: function(e) {
                this.set('teacher.TeacherCode', Math.ceil(Math.random() * Date.now()).toString(16).substr(2, 6).toUpperCase());
            },

            _removeTeacherCode: function(e) {
                this.set('teacher.TeacherCode', '');
            },

            _loadPhoto: function(e) {
                Polymer.dom(this.root).querySelector('#input_photo').click();
            },

            _removePhoto: function(e) {
                this.set('teacher.Photo', '');
                this.set('hasPhoto', false);
            },

            _initPhotoEvent: function() {
                var inputFile = Polymer.dom(this.root).querySelector('#input_photo');

                inputFile.addEventListener('click', function() {
                    this.value = null;
                }, false);
                inputFile.addEventListener('change', function(evt) {
                    evt.stopPropagation();
                    evt.preventDefault();
                    var file = evt.dataTransfer !== undefined ? evt.dataTransfer.files[0] : evt.target.files[0];
                    var reader = new FileReader();
                    reader.onload = (function(theFile) {
                        return function(e) {
                            var image = new Image();
                            image.src = e.target.result;
                            image.onload = function() {
                                var canvas = document.createElement('canvas');
                                canvas.width = image.width > 180 ? 180 : image.width;
                                canvas.height = image.width > 180 ? image.height * (180 / image.width) : image.height;
                                var ctx = canvas.getContext('2d');
                                ctx.drawImage(image, 0, 0, canvas.width, canvas.height);

                                this.set('teacher.Photo', canvas.toDataURL());
                                this.set('hasPhoto', true);
                            }.bind(this);
                        }.bind(this);
                    }.bind(this))(file);
                    reader.readAsDataURL(file);
                }.bind(this), false);
            },
        });

        /*
         * 當資料變動 (新增、修改、刪除)，將觸發此事件
         * @event changed
         */
    </script>
</dom-module>
