<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../iron-icons/iron-icons.html">
<link rel="import" href="../iron-icons/communication-icons.html">
<link rel="import" href="../paper-button/paper-button.html">
<link rel="import" href="../paper-datatable/paper-datatable.html">
<link rel="import" href="../paper-datatable/paper-datatable-column.html">
<link rel="import" href="../paper-dialog/paper-dialog.html">
<link rel="import" href="../paper-dialog-scrollable/paper-dialog-scrollable.html">
<link rel="import" href="../paper-input/paper-textarea.html">
<link rel="import" href="../paper-material/paper-material.html">
<link rel="import" href="../paper-toast/paper-toast.html">
<link rel="import" href="../campus-behavior/campus-behavior.html">
<!--
`campus-core-teacher-import`
@demo demo/campus-core-teacher-import.html
-->
<dom-module id="campus-core-teacher-import">
    <style include="iron-flex iron-flex-alignment"></style>
    <style>
        :host {
            display: block;
            position: relative;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            background: #fff;
            height: 100%;
        }
        
        :host paper-button {
            --paper-button: {
                text-transform: none;
                font-family: Roboto, Noto, STXihei, sans-serif;
            }
        }
        
        :host paper-textarea {
            --paper-input-container-label: {
                font-family: Roboto, Noto, STXihei, sans-serif;
            }
        }
        
        :host /deep/ paper-datatable thead {
            display: none;
            visibility: hidden;
        }
        
        :host .error-text-color {
            color: var(--error-color);
        }
        
        :host .dark-primary-text-color {
            color: var(--dark-primary-color);
        }
        
        :host .secondary-text-color {
            color: var(--secondary-text-color);
        }
    </style>
    <template>
        <paper-material>
            <div class="layout horizontal center wrap" style="padding:9px 12px;border-bottom:1px solid #ddd">
                <div class="flex-auto layout vertical">
                    <div class="secondary-text-color" style="line-height:22px">[[translate._10]]</div>
                    <div class="secondary-text-color" style="line-height:22px">[[translate._11]]</div>
                    <div class="secondary-text-color" style="line-height:22px">[[translate._12]]</div>
                </div>
                <div class="layout horizontal center">
                    <paper-button class="dark-primary-text-color layout horizontal center" on-tap="_import" hidden$="[[!hidden_parse_success]]">
                        <iron-icon icon="communication:import-export"></iron-icon>
                        <span style="margin-left:5px">[[translate._02]]</span>
                    </paper-button>
                    <paper-button class="dark-primary-text-color layout horizontal center" on-tap="_parse">
                        <iron-icon icon="icons:search"></iron-icon>
                        <span style="margin-left:5px">[[translate._01]]</span>
                    </paper-button>
                </div>
            </div>
            <div class="layout vertical" style="padding:16px;border-bottom:1px solid #ddd">
                <div class="dark-primary-text-color">[[translate._03]]</div>
                <div class="secondary-text-color" style="margin-top:3px">[[translate._04]]</div>
                <div class="secondary-text-color" style="margin-top:3px">[[translate._05]]</div>
                <div class="secondary-text-color" style="margin-top:3px">[[translate._06]]</div>
            </div>
            <div class="layout vertical" style="padding:16px">
                <paper-textarea id="original" label="[[translate._09]]" no-label-float rows="4" max-rows="8" style="width:100%"></paper-textarea>
            </div>
            <div style="padding:16px" hidden$="[[hidden_parse_fail]]">
                <paper-datatable data="[[fail_items]]">
                    <paper-datatable-column header="" property="name" cell-style="font-size:15px;height:36px">
                        <template>
                            <span class="error-text-color" hidden$="[[item.isExistedParse]]">*</span>
                            <span hidden$="[[!item.isNameParse]]">[[value]]</span>
                            <span class="error-text-color" hidden$="[[item.isNameParse]]">[[value]]</span>
                        </template>
                    </paper-datatable-column>
                    <paper-datatable-column header="" property="gender" cell-style="font-size:15px;height:36px">
                        <template>
                            <span hidden$="[[!item.isGenderParse]]">[[value]]</span>
                            <span class="error-text-color" hidden$="[[item.isGenderParse]]">[[value]]</span>
                        </template>
                    </paper-datatable-column>
                    <paper-datatable-column header="" property="nickname" cell-style="font-size:15px;height:36px"></paper-datatable-column>
                    <paper-datatable-column header="" property="phone" cell-style="font-size:15px;height:36px"></paper-datatable-column>
                    <paper-datatable-column header="" property="email" cell-style="font-size:15px;height:36px"></paper-datatable-column>
                    <paper-datatable-column header="" property="account" cell-style="font-size:15px;height:36px">
                        <template>
                            <span hidden$="[[!item.isAccountParse]]">[[value]]</span>
                            <span class="error-text-color" hidden$="[[item.isAccountParse]]">[[value]]</span>
                        </template>
                    </paper-datatable-column>
                </paper-datatable>
            </div>
        </paper-material>
        <paper-toast id="toast"></paper-toast>
        <paper-dialog modal id="domainDialog" on-iron-overlay-closed="_dismissDomainDialog">
            <paper-dialog-scrollable>
                <paper-input label="[[translate._13]]" value="{{domain.name}}" style="width:240px"></paper-input>
                <paper-input label="[[translate._14]]" value="{{domain.acc}}" style="width:240px"></paper-input>
                <paper-input type="password" label="[[translate._15]]" value="{{domain.pwd}}" style="width:240px"></paper-input>
            </paper-dialog-scrollable>
            <div class="buttons">
                <paper-button dialog-dismiss>Cancel</paper-button>
                <paper-button dialog-confirm>OK</paper-button>
            </div>
        </paper-dialog>
    </template>
    <script>
        Polymer({
            is: "campus-core-teacher-import",

            behaviors: [Campus.TranslateBehavior, Campus.ServiceBehavior, Campus.AjaxBehavior],

            ready: function() {
                this.initTranslate({
                    'default': 'zh-tw',
                    'zh-tw': {
                        '_01': '解析',
                        '_02': '匯入',
                        '_03': '*姓名, 性別, 暱稱, 聯絡電話, 電子郵件, 帳號, 密碼',
                        '_04': '丁大明, 男, 阿明, 0911111111, aaa@gmail.com, aaa@test.domain.net, a123456',
                        '_05': '王二偉, 男, 小偉, 0922222222, bbb@gmail.com, bbb@test.domain.net, b123456',
                        '_06': '田佳佳, 女, 佳佳, 0933333333, ccc@gmail.com, ccc@test.domain.net, c123456',
                        '_07': '教師匯入完成!',
                        '_08': '教師匯入失敗! 請確認資料是否正確!',
                        '_09': '貼上要解析的資料...',
                        '_10': '1、當解析後資料皆正確會出現匯入按鈕，解析過程不會更動或寫入資料',
                        '_11': '2、資料解析後，紅色顯示為資料重覆或錯誤，請修正後再重新解析',
                        '_12': '3、欄位﹡必填，不可留空白；當有填帳號時，如果沒填密碼，密碼預設為12345678',
                        '_13': '網域',
                        '_14': '帳號',
                        '_15': '密碼',
                        '_16': '帳號匯入完成!',
                        '_17': '帳號匯入失敗! 請確認資料是否正確!'
                    },
                    'zh-cn': {
                        '_01': '解析',
                        '_02': '导入',
                        '_03': '*姓名, 性别, 昵称, 联络电话, 电子邮件, 帐号, 密码',
                        '_04': '丁大明, 男, 阿明, 0911111111, aaa@gmail.com, aaa@test.domain.net, a123456',
                        '_05': '王二伟, 男, 小伟, 0922222222, bbb@gmail.com, bbb@test.domain.net, b123456',
                        '_06': '田佳佳, 女, 佳佳, 0933333333, ccc@gmail.com, ccc@test.domain.net, c123456',
                        '_07': '教师导入完成!',
                        '_08': '教师导入失败! 请确认资料是否正确!',
                        '_09': '贴上要解析的资料...',
                        '_10': '1、当解析后资料皆正确会出现导入按钮，解析过程不会更动或写入资料',
                        '_11': '2、资料解析后,红色显示为资料重复或错误,请修正后再重新解析',
                        '_12': '3、栏位﹡必填，不可留空白；当有填帐号时，如果没填密码，密码预设为12345678',
                        '_13': '网域',
                        '_14': '帐号',
                        '_15': '密码',
                        '_16': '帐号导入完成!',
                        '_17': '帐号导入失败! 请确认资料是否正确!'
                    },
                    'en-us': {
                        '_01': 'Parse',
                        '_02': 'Import',
                        '_03': '*Name, Gender, Nickname, Phone, Email, Account, Password',
                        '_04': 'Marx Smith, Male, Marx, 0911111111, aaa@gmail.com, aaa@test.domain.net, a123456',
                        '_05': 'Kevin Hill, Male, Kevin, 0922222222, bbb@gmail.com, bbb@test.domain.net, b123456',
                        '_06': 'Mary Lincoln, Female, Mary, 0933333333, ccc@gmail.com, ccc@test.domain.net, c123456',
                        '_07': 'Import completed!',
                        '_08': 'Import failed!',
                        '_09': 'Paste Data...',
                        '_10': '1、當解析後資料皆正確會出現匯入按鈕，解析過程不會更動或寫入資料',
                        '_11': '2、資料解析後，紅色顯示為資料重覆或錯誤，請修正後再重新解析',
                        '_12': '3、欄位﹡必填，不可留空白；當有填帳號時，如果沒填密碼，密碼預設為12345678',
                        '_13': 'Domain',
                        '_14': 'Account',
                        '_15': 'Password',
                        '_16': 'Account import completed!!',
                        '_17': 'Account import failed!'
                    },
                    'vi-vn': {
                        '_01': 'Phân giải',
                        '_02': 'Hội nhập',
                        '_03': '*họ tên, giới tính, Nickname, Phone, Email, Account, Password',
                        '_04': 'Nguyễn Thị Hoa, Nữ, Marx, 0911111111, aaa@gmail.com, aaa@test.domain.net, a123456',
                        '_05': 'Phạm Văn Bằng, Nam, Kevin, 0922222222, bbb@gmail.com, bbb@test.domain.net, b123456',
                        '_06': 'Vũ Tân Cúc, Nữ, Mary, 0933333333, ccc@gmail.com, ccc@test.domain.net, c123456',
                        '_07': 'Hội nhập hoàn thành!',
                        '_08': 'Hội nhập thất bại! Xin xác nhận dữ liệu chính xác!',
                        '_09': 'Paste Data...',
                        '_10': '1、當解析後資料皆正確會出現匯入按鈕，解析過程不會更動或寫入資料',
                        '_11': '2、資料解析後，紅色顯示為資料重覆或錯誤，請修正後再重新解析',
                        '_12': '3、欄位﹡必填，不可留空白；當有填帳號時，如果沒填密碼，密碼預設為12345678',
                        '_13': 'Domain',
                        '_14': 'Account',
                        '_15': 'Password',
                        '_16': 'Account Hội nhập hoàn thành!',
                        '_17': 'Account Hội nhập thất bại! Xin xác nhận dữ liệu chính xác!'
                    }
                });

                this.set('teachers', []);

                this.set('hidden_parse_fail', true);
                this.set('hidden_parse_success', false);

                this._getTeachers();
            },

            /*
             * 準備要比對的資料
             */
            prepare: function() {
                this._getTeachers();
            },

            _getTeachers: function() {
                var request = {
                    contract: 'schoolaccess',
                    service: 'SmartSchool.Teacher.GetDetailList',
                    body: '<Request><Field><TeacherName/><Nickname/><TALoginName/></Field></Request>'
                };

                this.generateRequest(request, function(response) {
                    var items = response && response.TeacherList ? [].concat(response.TeacherList.Teacher || []) : [];
                    this.set('teachers', items);
                }.bind(this));
            },

            _parse: function(e) {
                if (!this.$.original.value) return;

                this.set('hidden_parse_fail', true);
                this.set('hidden_parse_success', false);

                var items = [],
                    existed = [],
                    genders = ['男', '女', 'Male', 'Female', ''],
                    accounts = [];

                this.teachers.forEach(function(item) {
                    existed.push([item.TeacherName, item.Nickname].join('-'));
                    accounts.push(item.TALoginName);
                });

                this.$.original.value.split("\n").forEach(function(item, index) {
                    var temp = item.replace(/\t/ig, ',').split(',');
                    temp.forEach(function(i, index) {
                        temp[index] = temp[index].replace(/"/ig, '').replace(/　/ig, '');
                    })

                    items.push({
                        name: temp[0] ? temp[0].trim() : '',
                        gender: temp[1] ? temp[1].trim() : '',
                        nickname: temp[2] ? temp[2].trim() : '',
                        phone: temp[3] ? temp[3].trim() : '',
                        email: temp[4] ? temp[4].trim() : '',
                        account: temp[5] ? temp[5].trim() : '',
                        password: temp[6] ? temp[6].trim() : ''
                    });
                });

                var fail_items = [];
                items.forEach(function(item, index) {
                    item.isNameParse = item.name !== '';
                    item.isGenderParse = genders.indexOf(item.gender) === -1 ? false : true;
                    item.isExistedParse = existed.indexOf([item.name, item.nickname].join('-')) !== -1 ? false : true;
                    item.isAccountParse = accounts.indexOf(item.account) !== -1 ? false : true;

                    item.isParse = item.isNameParse && item.isGenderParse && item.isExistedParse && item.isAccountParse;

                    if (!item.isParse) fail_items.push(item);
                    if (!item.isNameParse) item.name = '* empty *';
                });

                if (fail_items.length > 0) {
                    this.set('hidden_parse_fail', false);
                    this.set('fail_items', fail_items);
                } else
                    this.set('hidden_parse_success', true);

                this.set('parse_items', items);
            },

            _import: function(e) {
                var teachers = [],
                    accounts = [];

                this.parse_items.forEach(function(item) {

                    var teacher = {
                        Field: {
                            TeacherName: item.name,
                            Nickname: item.nickname
                        }
                    };

                    if (item.gender)
                        teacher.Field.Gender = ['女', 'Female'].indexOf(item.gender) !== -1 ? '女' : '男';

                    if (item.phone)
                        teacher.Field.ContactPhone = item.phone;

                    if (item.email)
                        teacher.Field.Email = item.email;

                    if (item.account)
                        teacher.Field.TALoginName = item.account;

                    teachers.push(teacher);

                    var account = {
                        acc: item.account,
                        pwd: item.password,
                        firstName: item.name,
                        lastName: ''
                    }

                    accounts.push(account);
                }.bind(this));

                if (accounts.length > 0) {
                    this.set('domain', {
                        accounts: accounts,
                        name: '',
                        acc: '',
                        pwd: ''
                    });
                    this.$.domainDialog.open();
                }

                this._importTeacher(teachers);
            },

            _importTeacher: function(items) {
                var request = {
                    contract: 'schoolaccess',
                    service: 'SmartSchool.Teacher.Insert',
                    body: {
                        Request: {
                            Teacher: items
                        }
                    }
                };

                this.generateRequest(request, function(response) {
                    if (response && response.Result && Math.ceil(response.Result.$.EffectRows) > 0) {
                        this.$.toast.show({
                            text: this.translate._07,
                            duration: 1000
                        });

                        setTimeout(function() {
                            this.fire('changed', {
                                type: 'Import'
                            });
                        }.bind(this), 1000);

                        this._getTeachers();
                        this.set('hidden_parse_success', false);
                    } else {
                        this.$.toast.show({
                            text: this.translate._08,
                            duration: 1000
                        });

                        this._parse();
                    }
                }.bind(this));
            },

            _dismissDomainDialog: function(e) {
                if (e.detail.confirmed)
                    this._importAccount(this.domain.accounts);
            },

            _importAccount: function(accounts) {
                this.ajax({
                    method: 'POST',
                    url: [Campus.authServer, '/c/1campus.service/applicationAccounts.php'].join(''),
                    request: {
                        "application": Campus.school.dsns,
                        "domain": {
                            "name": this.domain.name,
                            "acc": this.domain.acc,
                            "pwd": this.domain.pwd
                        },
                        "list": accounts
                    },
                    responseType: 'json'
                }, function(response, xhr) {
                    if (response.status === 'success')
                        this.$.toast.show({
                            text: this.translate._16,
                            duration: 1000
                        });
                    else
                        this.$.toast.show({
                            text: this.translate._17,
                            duration: 1000
                        });
                }.bind(this));
            }
        });

        /*
         * 當資料匯入完成，將觸發此事件
         * @event changed
         */
    </script>
</dom-module>
