<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../paper-checkbox/paper-checkbox.html">
<link rel="import" href="../paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../paper-item/paper-item.html">
<link rel="import" href="../paper-menu/paper-menu.html">
<link rel="import" href="../paper-toggle-button/paper-toggle-button.html">
<link rel="import" href="../campus-behavior/campus-behavior.html">
<!--
`campus-core-teacher-picker`
@demo demo/campus-core-teacher-picker.html
-->
<dom-module id="campus-core-teacher-picker">
    <style>
        :host {
            display: block;
            position: relative;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
        }
        
        :host paper-dropdown-menu paper-menu {
            --paper-menu: {
                padding: 0;
                min-width: 100px;
                max-height: 320px;
            }
        }

        :host .cell-item {
            margin: 4px 8px;
            flex: 1 1 120px;
        }
    </style>
    <template>
        <div class="layout horizontal center wrap">
            <paper-dropdown-menu label="[[translate._01]]" class="cell-item">
                <paper-menu class="dropdown-content" selected="{{selected}}" attr-for-selected="value">
                    <template is="dom-repeat" items="[[_items]]">
                        <paper-item value="[[item.TeacherName]]" on-tap="_selectItem">[[item.LabelName]]</paper-item>
                    </template>
                </paper-menu>
            </paper-dropdown-menu>
            <paper-toggle-button checked="{{status}}" on-change="_getItems" class="cell-item" hidden$="[[!toggleDeleted]]">[[translate._02]]</paper-toggle-button>
        </div>
    </template>
    <script>
        Polymer({
            is: 'campus-core-teacher-picker',

            properties: {
                selected: {
                    type: String
                },
                /*
                 * 取得教師清單
                 */
                items: {
                    type: Array,
                    readOnly: true
                },
                toggleDeleted: {
                    type: Boolean,
                    value: false
                }
            },

            behaviors: [Campus.TranslateBehavior, Campus.ServiceBehavior],

            ready: function() {
                this.initTranslate({
                    'default': 'zh-tw',
                    'zh-tw': {
                        '_01': '教師',
                        '_02': '已刪除'
                    },
                    'zh-cn': {
                        '_01': '教师',
                        '_02': '已删除'
                    },
                    'en-us': {
                        '_01': 'Teacher',
                        '_02': 'Deleted'
                    },
                    'vi-vn': {
                        '_01': 'Giáo viên',
                        '_02': 'Deleted'
                    }
                });

                this._getItems();
            },

            _getItems: function() {
                var request = {
                    contract: 'schoolaccess',
                    service: 'SmartSchool.Teacher.GetAbstractList',
                    body: ['<Request><Field><ID/><TeacherName/><Nickname/></Field><Condition><Status>', this.status ? '刪除' : '一般', '</Status></Condition><Order><TeacherName/></Order></Request>'].join('')
                };

                this.generateRequest(request, function(response) {
                    if (response && response.TeacherList) {
                        var items = [].concat(response.TeacherList.Teacher || []);
                        items.forEach(function(item) {
                            if (item.Nickname)
                                item.LabelName = [item.TeacherName, ' (', item.Nickname, ')'].join('');
                            else
                                item.LabelName = item.TeacherName;
                        });

                        this.set('_items', items);
                        this._setItems(items);
                    } else
                        this.set('items', []);

                    if (this.items.length > 0) {
                        this.set('selected', this.items[0].TeacherName);
                        this.fire('changed', {
                            id: this.items[0].$.ID,
                            label: this.items[0].Name,
                            target: this.items[0]
                        });
                    }
                }.bind(this));
            },

            _selectItem: function(e) {
                this.fire('changed', {
                    id: e.model.item.$.ID,
                    label: e.model.item.TeacherName,
                    target: e.model.item
                });
            },

            reload: function() {
                this._getItems();
            }
        });

        /*
         * 每當清單中的選項被選取時，將觸發此事件
         * @event changed
         */
    </script>
</dom-module>
