<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../iron-icons/iron-icons.html">
<link rel="import" href="../paper-dialog/paper-dialog.html">
<link rel="import" href="../paper-dialog-scrollable/paper-dialog-scrollable.html">
<link rel="import" href="../paper-icon-button/paper-icon-button.html">
<link rel="import" href="../paper-item/paper-item.html">
<link rel="import" href="../paper-material/paper-material.html">
<link rel="import" href="../paper-toast/paper-toast.html">
<link rel="import" href="../campus-core-course/campus-core-course-list.html">
<link rel="import" href="../campus-behavior/campus-behavior.html">
<!--
`campus-core-teacher-course`
@demo demo/campus-core-teacher-course.html
-->
<dom-module id="campus-core-teacher-course">
    <style include="iron-flex iron-flex-alignment"></style>
    <style>
        :host {
            display: block;
            position: relative;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
        }
        
        :host paper-item {
            color: rgba(0, 0, 0, .67);
        }
        
        :host paper-item:hover {
            background-color: rgba(0, 0, 0, .13);
            cursor: pointer;
        }
        
        :host paper-dialog> *:first-child,
        :host paper-dialog> *:last-child {
            margin: 0;
        }
        
        :host paper-dialog-scrollable {
            --paper-dialog-scrollable: {
                padding: 0;
            }
        }
        
        :host .ellipsis-text {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        
        :host .dark-primary-text-color {
            color: var(--dark-primary-color);
        }
        
        :host .primary-text-color {
            color: var(--primary-text-color);
        }
        
        :host .secondary-text-color {
            color: var(--secondary-text-color);
        }
        
        :host .tbar {
            padding: 4px 12px 4px 16px;
            line-height: 24px;
        }
        
        :host .tpib {
            width: 32px;
            height: 32px;
            padding: 4px;
        }
    </style>
    <template>
        <div class="layout horizontal center wrap secondary-text-color tbar">
            <div class="flex-auto" style="font-size:18px">[[translate._01]]</div>
            <paper-icon-button class="tpib" icon="icons:add" on-tap="_showCourseDialog" style="visibility:hidden"></paper-icon-button>
        </div>
        <paper-material style="background:#fff;min-height:48px">
            <template is="dom-repeat" items="[[items]]">
                <paper-item style="border-top:1px solid #eee;margin-top:-1px">
                    <div class="primary-text-color ellipsis-text flex">[[item.CourseName]]</div>
                    <div class="secondary-text-color" style="margin-left:10px">[[item.SchoolYear]] [[item.SemesterLabel]]</div>
                    <paper-icon-button icon="icons:delete" class="secondary-text-color" on-tap="_removeItem"></paper-icon-button>
                </paper-item>
            </template>
        </paper-material>
        <paper-toast id="toast"></paper-toast>
        <paper-dialog id="courseDialog" with-backdrop>
            <paper-dialog-scrollable>
                <div style="width:240px;height:480px">
                    <campus-core-course-list id="courseList"></campus-core-course-list>
                </div>
            </paper-dialog-scrollable>
        </paper-dialog>
    </template>
    <script>
        Polymer({
            is: "campus-core-teacher-course",

            properties: {
                /*
                 * 教師
                 */
                teacher: {
                    type: Object,
                    observer: '_teacherChanged'
                }
            },

            behaviors: [Campus.TranslateBehavior, Campus.ServiceBehavior],

            ready: function() {
                this.initTranslate({
                    'default': 'zh-tw',
                    'zh-tw': {
                        '_01': '課程',
                        '_02': '更新完成!',
                        '_03': '上學期',
                        '_04': '下學期'
                    },
                    'zh-cn': {
                        '_01': '课程',
                        '_02': '更新完成!',
                        '_03': '上学期',
                        '_04': '下学期'
                    },
                    'en-us': {
                        '_01': 'Course',
                        '_02': 'Update completed!',
                        '_03': '1',
                        '_04': '2'
                    },
                    'vi-vn': {
                        '_01': 'Khóa học',
                        '_02': 'Cập nhật hoàn thành!',
                        '_03': 'Học kỳ  đầu',
                        '_04': 'Học kỳ  sau'
                    }
                });

                this.$.courseList.addEventListener('changed', function(e) {
                    e.stopPropagation();
                    this.set('course', e.detail);
                    this._addItem();
                    this.$.classDialog.close();
                }.bind(this));
            },

            _teacherChanged: function(newValue, oldValue) {
                if (!newValue || !newValue.id) return;

                this._getItems();
            },

            _showCourseDialog: function() {
                this.$.courseList.reload();
                this.$.courseDialog.open();
            },

            _getItems: function() {
                if (!this.translate && !this.teacher) return;

                var request = {
                    contract: 'schoolaccess',
                    service: 'SmartSchool.Teacher.GetCourseList',
                    body: ['<Request><Field><ID/><CourseName/><SchoolYear/><Semester/><StudentCount/></Field><Condition><TeacherID>', this.teacher.id, '</TeacherID></Condition><Order><SchoolYear/><Semester/></Order></Request>'].join(
                        '')
                };

                this.generateRequest(request, function(response) {
                    if (response && response.CourseList) {
                        var items = [].concat(response.CourseList.Course || []);
                        this.set('items', items);
                    } else
                        this.set('items', []);

                    this._renderItems();
                }.bind(this));
            },

            _addItem: function() {
                if (!this.teacher && !this.course) return;

                var request = {
                    contract: 'schoolaccess',
                    service: 'SmartSchool.Course.InsertTCInstruct',
                    body: ['<Request><Instruct><RefTeacherID>', this.teacher.id, '</RefTeacherID><RefCourseID>', this.course.id, '</RefCourseID><Sequence>1</Sequence></Instruct></Request>'].join('')
                };

                this.generateRequest(request, function(response) {
                    if (response && response.Result && Math.ceil(response.Result.$.EffectRows) > 0) {
                        this.$.toast.show({
                            text: this.translate._02,
                            duration: 1000
                        });

                        setTimeout(function() {
                            this.fire('changed', {
                                id: this.teacher.id,
                                label: this.teacher.label,
                                target: this.teacher,
                                type: 'Add'
                            });
                        }.bind(this), 1000);

                        this._getItems();
                    }
                }.bind(this));
            },

            _removeItem: function(e) {
                var request = {
                    contract: 'schoolaccess',
                    service: 'SmartSchool.Course.RemoveCourseTeacher',
                    body: ['<Request><Course><RefTeacherID>', this.teacher.id, '</RefTeacherID><CourseID>', e.model.item.$.ID, '</CourseID></Course></Request>'].join('')
                };

                this.generateRequest(request, function(response) {
                    if (response && response.Result && Math.ceil(response.Result.$.EffectRows) > 0) {
                        this.$.toast.show({
                            text: this.translate._02,
                            duration: 1000
                        });

                        setTimeout(function() {
                            this.fire('changed', {
                                id: e.model.item.$.ID,
                                label: e.model.item.Name,
                                target: e.model.item,
                                type: 'Remove'
                            });
                        }.bind(this), 1000);

                        this._getItems();
                    }
                }.bind(this));
            },

            _renderItems: function() {
                if (!this.items) return;

                this.items.forEach(function(item) {
                    item.SemesterLabel = item.Semester === '1' ? this.translate._03 : this.translate._04;
                }.bind(this));
            }
        });

        /*
         * 當資料變動 (加入、移除)，將觸發此事件
         * @event changed
         */
    </script>
</dom-module>
