<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../iron-icons/iron-icons.html">
<link rel="import" href="../paper-icon-button/paper-icon-button.html">
<link rel="import" href="../paper-datatable/paper-datatable.html">
<link rel="import" href="../paper-datatable/paper-datatable-column.html">
<link rel="import" href="../paper-item/paper-item.html">
<link rel="import" href="../paper-material/paper-material.html">
<link rel="import" href="../paper-toast/paper-toast.html">
<link rel="import" href="../campus-behavior/campus-behavior.html">
<!--
`campus-core-teacher-code`
@demo demo/campus-core-teacher-code.html
-->
<dom-module id="campus-core-teacher-code">
    <style include="iron-flex iron-flex-alignment iron-flex-factors"></style>
    <style>
        :host {
            display: block;
            position: relative;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            background: #fff;
            height: 100%;
        }
        
        :host paper-item {
            color: rgba(0, 0, 0, .67);
            border-top: 1px solid #eee;
            margin-top: -1px;
        }
        
        :host paper-item:hover {
            background-color: rgba(0, 0, 0, .13);
        }
        
        :host paper-item paper-icon-button {
            padding: 5px;
            width: 30px;
            height: 30px;
        }
    </style>
    <template>
        <paper-material>
            <div class="layout horizontal center" style="padding:10px 16px">
                <div class="flex-auto"></div>
                <paper-icon-button icon="icons:done" on-tap="_saveItems"></paper-icon-button>
                <paper-icon-button icon="icons:refresh" on-tap="_getItems"></paper-icon-button>
            </div>
            <div style="margin-top:16px">
                <div class="layout horizontal center" style="padding:0 16px;color:rgba(0, 0, 0, .67)">
                    <div class="layout horizontal flex-auto">
                        <div style="min-width:160px">&nbsp;</div>
                    </div>
                    <div class="layout horizontal flex end-justified">
                        <div class="layout horizontal center" style="width:125px">
                            <div style="margin-right:8px">[[translate._01]]</div>
                            <paper-icon-button icon="icons:cached" on-tap="_refreshAllTeacherCode"></paper-icon-button>
                        </div>
                    </div>
                </div>
                <template is="dom-repeat" items="[[items]]">
                    <paper-item class="layout horizontal wrap">
                        <div class="flex-auto" style="min-width:160px">[[item.TeacherName]] <span hidden$="[[!item.Nickname]]">([[item.Nickname]])</span></div>
                        <div class="flex-auto" style="min-width:160px">[[item.LinkAccount]]</div>
                        <div class="layout horizontal flex-auto end-justified" style="min-width:140px">
                            <div class="layout horizontal center">
                                <div style="width:65px;[[item.teacherStyle]]">[[item.TeacherCode]]</div>
                                <paper-icon-button icon="icons:cached" on-tap="_refreshTeacherCode"></paper-icon-button>
                                <paper-icon-button icon="icons:delete" on-tap="_removeTeacherCode"></paper-icon-button>
                            </div>
                        </div>
                    </paper-item>
                </template>
            </div>
        </paper-material>
        <paper-toast id="toast"></paper-toast>
    </template>
    <script>
        Polymer({
            is: "campus-core-teacher-code",

            behaviors: [Campus.TranslateBehavior, Campus.ServiceBehavior],

            ready: function() {
                this.initTranslate({
                    'default': 'zh-tw',
                    'zh-tw': {
                        '_01': '教師代碼',
                        '_02': '更新完成!',
                        '_03': '更新失敗! 請確認資料是否正確!',
                    },
                    'zh-cn': {
                        '_01': '教师代码',
                        '_02': '更新完成!',
                        '_03': '更新失败! 请确认资料是否正确!',
                    },
                    'en-us': {
                        '_01': 'Teacher Code',
                        '_02': 'Update completed!',
                        '_03': 'Update failed!',
                    }
                });

                this._getItems();
            },

            _getItems: function() {
                var request = {
                    contract: 'basic.staff',
                    service: 'beta.GetTeacher',
                    body: {
                        TeacherStatus: 1
                    }
                }

                this.generateRequest(request, function(response) {
                    if (response && response.Teacher) {
                        var items = [];
                        [].concat(response.Teacher || []).forEach(function(t) {
                            var flag = false;
                            items.forEach(function(i) {
                                if (t.TeacherId === i.TeacherId)
                                    flag = true;
                            });
                            if (!flag)
                                items.push(t);
                        });
                        items.sort(function(x, y) {
                            return x.TeacherName.localeCompare(y.TeacherName);
                        });
                        this.set('items', items);
                    }
                }.bind(this));
            },

            _saveItems: function(e) {
                var teachers = [];
                this.items.forEach(function(item) {
                    if (item.isRefreshTeacherCode) {
                        teachers.push({
                            TeacherId: item.TeacherId,
                            TeacherCode: item.TeacherCode,
                        });
                    }
                });

                var request = {
                    contract: 'basic.staff',
                    service: 'beta.UpdateTeacher',
                    body: {
                        Teacher: teachers
                    }
                }

                this.generateRequest(request, function(response, error) {
                    if (response === '') {
                        this.$.toast.show({
                            text: this.translate._02,
                            duration: 1000
                        });
                        this._getItems();
                    } else
                        this.$.toast.show({
                            text: [this.translate._03, ' - ', error.Message].join(''),
                            duration: 1000
                        });
                }.bind(this));
            },

            _refreshTeacherCode: function(e) {
                this.set(['items.', e.model.index, '.TeacherCode'].join(''), Math.ceil(Math.random() * Date.now()).toString(16).substr(2, 6).toUpperCase());
                this.set(['items.', e.model.index, '.isRefreshTeacherCode'].join(''), true);
                this.set(['items.', e.model.index, '.teacherStyle'].join(''), 'color:#dd2c00');
            },

            _removeTeacherCode: function(e) {
                this.set(['items.', e.model.index, '.TeacherCode'].join(''), '');
                this.set(['items.', e.model.index, '.isRefreshTeacherCode'].join(''), true);
                this.set(['items.', e.model.index, '.teacherStyle'].join(''), 'color:#dd2c00');
            },

            _refreshAllTeacherCode: function(e) {
                this.items.forEach(function(item, index) {
                    this.set(['items.', index, '.TeacherCode'].join(''), Math.ceil(Math.random() * Date.now()).toString(16).substr(2, 6).toUpperCase());
                    this.set(['items.', index, '.isRefreshTeacherCode'].join(''), true);
                    this.set(['items.', index, '.teacherStyle'].join(''), 'color:#dd2c00');
                }.bind(this));
            }
        });
    </script>
</dom-module>
