<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../iron-icons/iron-icons.html">
<link rel="import" href="../paper-dialog/paper-dialog.html">
<link rel="import" href="../paper-dialog-scrollable/paper-dialog-scrollable.html">
<link rel="import" href="../paper-icon-button/paper-icon-button.html">
<link rel="import" href="../paper-item/paper-item.html">
<link rel="import" href="../paper-material/paper-material.html">
<link rel="import" href="../paper-toast/paper-toast.html">
<link rel="import" href="../campus-core-class/campus-core-class-list.html">
<link rel="import" href="../campus-behavior/campus-behavior.html">
<!--
`campus-core-teacher-class`
@demo demo/campus-core-teacher-class.html
-->
<dom-module id="campus-core-teacher-class">
    <style include="iron-flex iron-flex-alignment"></style>
    <style>
        :host {
            display: block;
            position: relative;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
        }
        
        :host paper-item {
            color: rgba(0, 0, 0, .67);
        }
        
        :host paper-item:hover {
            background-color: rgba(0, 0, 0, .13);
            cursor: pointer;
        }
        
        :host paper-dialog> *:first-child,
        :host paper-dialog> *:last-child {
            margin: 0;
        }
        
        :host paper-dialog-scrollable {
            --paper-dialog-scrollable: {
                padding: 0;
            }
        }
        
        :host .ellipsis-text {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        
        :host .dark-primary-text-color {
            color: var(--dark-primary-color);
        }
        
        :host .primary-text-color {
            color: var(--primary-text-color);
        }
        
        :host .secondary-text-color {
            color: var(--secondary-text-color);
        }
        
        :host .tbar {
            padding: 4px 12px 4px 16px;
            line-height: 24px;
        }
        
        :host .tpib {
            width: 32px;
            height: 32px;
            padding: 4px;
        }
    </style>
    <template>
        <div class="layout horizontal center wrap secondary-text-color tbar">
            <div class="flex-auto" style="font-size:18px">[[translate._01]]</div>
            <paper-icon-button class="tpib" icon="icons:add" on-tap="_showClassDialog"></paper-icon-button>
        </div>
        <paper-material style="background:#fff;min-height:48px">
            <template is="dom-repeat" items="[[items]]">
                <paper-item style="border-top:1px solid #eee;margin-top:-1px">
                    <div class="primary-text-color ellipsis-text flex">[[item.ClassName]]</div>
                    <paper-icon-button icon="icons:delete" class="secondary-text-color" on-tap="_removeItem"></paper-icon-button>
                </paper-item>
            </template>
        </paper-material>
        <paper-toast id="toast"></paper-toast>
        <paper-dialog id="classDialog" with-backdrop>
            <paper-dialog-scrollable>
                <div style="width:240px;height:480px">
                    <campus-core-class-list id="classList"></campus-core-class-list>
                </div>
            </paper-dialog-scrollable>
        </paper-dialog>
    </template>
    <script>
        Polymer({
            is: "campus-core-teacher-class",

            properties: {
                /*
                 * 教師
                 */
                teacher: {
                    type: Object,
                    observer: '_teacherChanged'
                }
            },

            behaviors: [Campus.TranslateBehavior, Campus.ServiceBehavior],

            ready: function() {
                this.initTranslate({
                    'default': 'zh-tw',
                    'zh-tw': {
                        '_01': '班級',
                        '_02': '更新完成!'
                    },
                    'zh-cn': {
                        '_01': '班级',
                        '_02': '更新完成!'
                    },
                    'en-us': {
                        '_01': 'Class',
                        '_02': 'Update completed!'
                    },
                    'vi-vn': {
                        '_01': 'Lớp',
                        '_02': 'Cập nhật hoàn thành!'
                    }
                });

                this.$.classList.addEventListener('changed', function(e) {
                    e.stopPropagation();
                    this.set('clazz', e.detail);
                    this._addItem();
                    this.$.classDialog.close();
                }.bind(this));
            },

            _teacherChanged: function(newValue, oldValue) {
                if (!newValue || !newValue.id) return;

                this._getItems();
            },

            _showClassDialog: function() {
                this.$.classList.reload();
                this.$.classDialog.open();
            },

            _getItems: function() {
                var request = {
                    contract: 'schoolaccess',
                    service: 'SmartSchool.Teacher.GetTeachClass',
                    body: ['<Request><Field><ID/><ClassName/><GradeYear/><StudentCount/></Field><Condition><TeacherID>', this.teacher.id, '</TeacherID></Condition></Request>'].join('')
                };

                this.generateRequest(request, function(response) {
                    if (response && response.ClassList) {
                        var items = [].concat(response.ClassList.Class || []);
                        this.set('items', items);
                    } else
                        this.set('items', []);
                }.bind(this));
            },

            _addItem: function() {
                if (!this.teacher && !this.clazz) return;

                var request = {
                    contract: 'schoolaccess',
                    service: 'SmartSchool.Class.Update',
                    body: ['<Request><Class><Field><RefTeacherID>', this.teacher.id, '</RefTeacherID></Field><Condition><ID>', this.clazz.id, '</ID></Condition></Class></Request>'].join('')
                };

                this.generateRequest(request, function(response) {
                    if (response && response.Result && Math.ceil(response.Result.$.EffectRows) > 0) {
                        this.$.toast.show({
                            text: this.translate._02,
                            duration: 1000
                        });

                        setTimeout(function() {
                            this.fire('changed', {
                                id: this.teacher.id,
                                label: this.teacher.label,
                                target: this.teacher,
                                type: 'Add'
                            });
                        }.bind(this), 1000);

                        this._getItems();
                        this.$.classList.reload();
                    }
                }.bind(this));
            },

            _removeItem: function(e) {
                var request = {
                    contract: 'schoolaccess',
                    service: 'SmartSchool.Class.Update',
                    body: ['<Request><Class><Field><RefTeacherID></RefTeacherID></Field><Condition><ID>', e.model.item.$.ID, '</ID></Condition></Class></Request>'].join('')
                };

                this.generateRequest(request, function(response) {
                    if (response && response.Result && Math.ceil(response.Result.$.EffectRows) > 0) {
                        this.$.toast.show({
                            text: this.translate._02,
                            duration: 1000
                        });

                        setTimeout(function() {
                            this.fire('changed', {
                                id: e.model.item.$.ID,
                                label: e.model.item.Name,
                                target: e.model.item,
                                type: 'Remove'
                            });
                        }.bind(this), 1000);

                        this._getItems();
                    }
                }.bind(this));
            },
        });

        /*
         * 當資料變動 (加入、移除)，將觸發此事件
         * @event changed
         */
    </script>
</dom-module>
