<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../paper-fab/paper-fab.html">
<link rel="import" href="../campus-behavior/campus-behavior.html">
<link rel="import" href="campus-core-teacher-class.html">
<link rel="import" href="campus-core-teacher-course.html">
<link rel="import" href="campus-core-teacher-editor.html">
<link rel="import" href="campus-core-teacher-picker.html">
<!--
`campus-core-teacher-detail`
@demo demo/campus-core-teacher-detail.html
-->
<dom-module id="campus-core-teacher-detail">
    <style include="iron-flex iron-flex-alignment"></style>
    <style>
        :host {
            display: block;
            position: relative;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            background: #f2f2f2;
            height: 100%;
        }
        
        :host .header {
            padding: 0 16px 0 8px;
        }
        
        :host .cell-item {
            margin-top: 16px;
        }
    </style>
    <template>
        <div class="header layout horizontal center">
            <campus-core-teacher-picker id="picker" toggle-deleted="true"></campus-core-teacher-picker>
            <div class="flex-auto"></div>
            <paper-fab mini icon="icons:add" on-tap="_addNew" style="margin-left:8px;min-width:40px">[[translate._01]]</paper-fab>
        </div>
        <div class="layout vertical">
            <campus-core-teacher-editor id="editor" teacher="[[teacher]]" class="cell-item"></campus-core-teacher-editor>
            <campus-core-teacher-class teacher="[[teacher]]" class="cell-item" hidden$="[[onAddNew]]"></campus-core-teacher-class>
            <campus-core-teacher-course teacher="[[teacher]]" class="cell-item" hidden$="[[onAddNew]]"></campus-core-teacher-course>
        </div>
    </template>
    <script>
        Polymer({
            is: 'campus-core-teacher-detail',

            properties: {
                /*
                 * 編輯的教師
                 */
                teacher: Object
            },

            behaviors: [Campus.TranslateBehavior],

            ready: function() {
                this.initTranslate({
                    'default': 'zh-tw',
                    'zh-tw': {
                        '_01': '新增',
                    },
                    'zh-cn': {
                        '_01': '新增',
                    },
                    'en-us': {
                        '_01': 'Add',
                    }
                });

                this.$.picker.addEventListener('changed', function(e) {
                    e.stopPropagation();
                    this.set('teacher', e.detail);
                    this.set('onAddNew', false);
                }.bind(this));

                this.$.editor.addEventListener('changed', function(e) {
                    e.stopPropagation();
                    this.set('teacher', e.detail);
                    this.set('onAddNew', false);

                    this.$.picker.reload();
                }.bind(this));
            },

            _addNew: function() {
                this.set('teacher', null);
                this.set('onAddNew', true);

                this.$.editor.addNew();
            }
        });
    </script>
</dom-module>
