<link rel="import" href="campus-core-teacher-class.html">
<link rel="import" href="campus-core-teacher-course.html">
<link rel="import" href="campus-core-teacher-detail.html">
<link rel="import" href="campus-core-teacher-editor.html">
<link rel="import" href="campus-core-teacher-import.html">
<link rel="import" href="campus-core-teacher-list.html">
<link rel="import" href="campus-core-teacher-picker.html">
<link rel="import" href="campus-core-teacher.html">
